.book-section {
  background-color: #fafafa;
  padding: 2rem 0;
  margin: 0;
}

.book-list {
  margin: 0 6.188rem 0 6.25rem;
  list-style-type: none;
  padding-left: 0;

  /* padding: 2.313rem 2.313rem; */
}

.list-item {
  padding: 2rem 1.688rem 1.625rem 1.688rem;
  border: 1px solid #e8e8e8;
  background-color: #fff;
  margin-bottom: 0.938rem;
  display: flex;
  justify-content: space-between;
}

.book-status {
  display: flex;
  gap: 2rem;
  align-items: center;
}

.action {
  list-style-type: none;
  display: flex;
  padding: 0;
  margin: 1rem 0;
}

.action li {
  border-right: 1px solid #888888;
  padding: 0 1rem;
}

.action li:first-child {
  padding-left: 0;
}

.action li:last-child {
  border: 0;
}

.gray-color {
  color: #888888;
}

.book-title {
  margin: 0;
  padding: 0.3rem 0;
}

.blue-color {
  color: #88b3d7;
}

.author {
  margin: 1rem 0;
  text-transform: capitalize;
}

.action-button {
  border: 0;
  background-color: #fff;
  padding: 0;
  cursor: pointer;
}

.book-progress {
  display: flex;
  align-items: center;
}

.circle {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 7px solid transparent;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-image: linear-gradient(#fff, #fff),
    linear-gradient(to right, #e8e8e8 26%, #0290ff 74%);
  background-position: center center, left top;
  background-origin: content-box, border-box;
  background-clip: content-box, border-box;
  transform: rotate(30deg);
}

.percentage h2 {
  padding: 0;
  margin: 0;
}

.percentage {
  padding: 0 3rem 0 1rem;
  border-right: 2px solid #e8e8e8;
}

.chapter {
  margin: 0;
  font-weight: 500;
  padding-top: 0.5rem;
  padding-bottom: 1.5rem;
}

.to-uppercase {
  text-transform: uppercase;
}

.progress-button {
  border: none;
  text-transform: uppercase;
  background-color: #0290ff;
  color: #e8e8e8;
  border-radius: 0.2rem;
  padding: 0.8rem;
}
